# Engine Options
# - django.db.backends.postgresql_psycopg2
# - django.contrib.gis.db.backends.postgis
# - django.db.backends.sqlite3
# If sqlite3, the 'NAME' will be os.path.join(BASE_DIR, 'db.sqlite3')
#
# Config options
# {
#     "engine": "django.db.backends.postgresql_psycopg2",
#     "name": "mt",
#     "user": "dev",
#     "password": "dev",
#     "host": "127.0.0.1",
#     "port": "5432",
#     "secret_key": "asdf",
#     "debug": false,
#     "static_root":  "/http/static/folder",
#     "static_url": "/static/",
#     "log_file": "/var/log/mt.log"
# }
#
# Generate Secure Password
# echo $(python -c 'import random; import string; print("".join([random.SystemRandom().choice("{}{}{}".format(string.ascii_letters, string.digits, string.punctuation)) for i in range(50)]))')

{
    # "engine": "django.db.backends.postgresql_psycopg2",
    "engine": "django.db.backends.sqlite3",
    "secret_key": "asdf",
    "debug": true,
    "static_url": "/static/",
}
