{% extends 'mt/base.html' %}
{% load static from staticfiles %}
{% block head %}

<style>
#map {
    height: 400px;
    width: 100%;
}
</style>
{% endblock %}

{% block main %}
{% comment %}
{% static 'js/collections/spending.js' %}
{% static 'js/models/spending.js' %}
{% static 'js/views/spending.js' %}
{% endcomment %}

<h2>Add</h2>
<ul id="add-list">
	<li>
		<a id="add-category" href="{% url 'add-category' %}">Add Category</a>
	</li>
	<li>
		<a id="add-note" href="{% url 'add-note' %}">Add Note</a>
	</li>
	<li>
		<a id="add-place" href="{% url 'add-place' %}">Add Place</a>
	</li>
	<li>
		<a id="add-spending" href="{% url 'add-spending' %}">Add Spending</a>
	</li>
</ul>

<h2>List</h2>
<ul id="list-list">
	<li>
		<a id="list-category" href="{% url 'list-category' %}">List Category</a>
	</li>
	<li>
		<a id="list-note" href="{% url 'list-note' %}">List Note</a>
	</li>
	<li>
		<a id="list-place" href="{% url 'list-place' %}">List Place</a>
	</li>
	<li>
		<a id="list-spending" href="{% url 'list-spending' %}">List Spending</a>
	</li>
</ul>

<h2>GeoStuff :/</h2>
<button id="get-geo-location">Get Geo Location</button>
<div id="map"></div>

{% endblock %}

{% block js %}
{{ block.super }}

<script>
function initMap() {
}

$('#get-geo-location').on('click', function(e) {
    navigator.geolocation.getCurrentPosition(function(position) {
        console.log("Lat " + position.coords.latitude);
        console.log("Lng " + position.coords.longitude);
        var position = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
        };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 20,
            center: position
        });
        var marker = new google.maps.Marker({
            position: position,
            map: map
        });
    });
});

$('#add-list').on('click', function(e) {
	e.preventDefaults();
	console.log("TODO add stuff");
});

$('#list-list').on('click', function(e) {
	e.preventDefaults();
	console.log("TODO click stuff");
})


</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvVHQ8l3FnP9EpbZEktdh7uwGtw2dTziE&callback=initMap">
</script>

<script>

</script>
{% endblock %}
